.container{
    width:500px;
    height:500px;
    background-color: rgb(113, 245, 120);
    border: 5px solid black;
    border-radius: 30px;
    margin-left:35%;
    margin-top:10%;
    position: relative;
}
.container>img{
    margin: 27px;
    border:3px white solid;
    border-radius: 30px;
}
.container>i{
    font-size: 75px;
    color:#fff;
    opacity: 0.9;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    transition: all ease-in-out 0.3s;
}
.details{
    padding-top:35px;
    background-color: black;
    margin-bottom:0;
    display: flex;
    padding-bottom: 35px;
    
}
.details>i{
    color:white;
    font-size: 40px;
    margin-right: 20px;
}
#ht{
    font-size: 40px;
}